<!--<h1>Articles#new</h1>-->
<!--<p>Find me in app/views/articles/new.html.erb</p>-->

<!--
 Create a form, using the rails form builder provided by the form with helper method
 -->

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title  %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<!--
next todo is to create the article model, press control twice
-->